@import 'index.css';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-caption {
    text-align: left;
}

#nav-about{
    background-color: white;
}

#nav-about > .nav-link {
    color: black;
}

@media (orientation:landscape) {
    img {
        max-width: 100%;
        min-height: 100vh;
    }
    .navbar, .footer {
        opacity: 50%;
    }
}