@import 'index.css';

.bi {
    font-size: 4rem;
}

#nav-contact {
    background-color: white;
    color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
}

@media (max-width: 400px) {
    .grid-wrapper {
        grid-template-columns: 1fr
    }
}