/* The following one is necessary, because sometimes the content is not big enough to 
fill a page. In this case, we need to force it to be 100% height.*/
body {
    height: 100vh;
}

main {
    background-color: #f3f5f6;
}

.org-name {
    font-weight: 600;
}

.work-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-icon {
    max-width: 80%;
}